
<div class="d-flex">
    <MudNavLink Href="/">Майно</MudNavLink>
    <MudNavLink Href="/invoices">Накладні</MudNavLink>
    <MudNavLink Href="/people">Особи</MudNavLink>
    <MudNavLink Href="/categories">Категорії</MudNavLink>
    <MudNavLink Href="/assignments">Закріплення</MudNavLink>
</div>
<MudSpacer/>

